<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/home/chat.css">	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/home/chat.js" defer> </script>
    <title>Document</title>
</head>

<body>
<h1> Message</h1>


<ul id = "chatContent">
</ul>
<br>

<input id = "myChat" type="text">
<input id = "send" type="button"  value="Send">

<a href="/logout">logout</a>
</body>
