<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">    
    
    <!-- <script type="text/javascript" src="./js/jsencrypt.min.js"></script> -->
    <script src="/js/home/jsencrypt.min.js"></script>
    <!-- <script type="module" src="https://cdn.socket.io/4.4.1/socket.io.esm.min.js"></script> -->
    <!-- <script type="text/javascript" src="/js/home/jsencrypt.min.js"></script> -->
    <script type="module" src="/js/home/home.js" defer> </script>
    <script type="module" src="/js/home/Party.js" defer> </script>
    <script type="module" src="/js/home/Object.js" defer> </script>    
    <script type="module" src="/js/home/Skill.js" defer> </script>    
    <script type="module" src="/js/home/game.js" defer> </script>    
    <script type="module" src="/js/home/command.js" defer> </script>    
    <script type="module" src="/js/home/friend.js" defer> </script>    
    <script type="module" src="/js/home/guild.js" > </script>    
    <script type="module" src="/js/home/mail.js" > </script>    
    <script type="module" src="/js/home/inventory.js" > </script>    
    <script type="module" src="/js/home/store.js" > </script>    
    <script type="module" src="/js/home/login.js" > </script>    
    <script type="module" src="/js/home/quest.js" > </script>    
    <title>Document</title>
</head>
<body>
    <!-- <div id = "loginView"  style = "display:none;width:600px; height:400px;background-color:#CF0"> -->
    <div id = "loginView" class="login-page" style = "display:none">
        <div class="form" >
            <input id = "loginId" type="text" placeholder="아이디"/><br>
            <input id = "loginPassword" type="password" placeholder="패스워드"/><br>
            <input id = "loginBtn" type="button" value="login" /><br><br>

            <input id = "guestLoginBtn" type="button" value="게스트 로그인"></input>
            <input id = "googleLoginBtn" type="button" value="구글 로그인"></input><br>
            <input id = "moveRegisterBtn" type="button" value="계정 생성"></input><br>
        </div>
    </div>
    <!-- <div id = "registerView" style = "display:none;width:600px; height:400px;background-color:#CF0"> -->
    <div id = "registerView" class="login-page" style = "display:none;">
        <div class="form" >
            <input id = "registerId" type="text" placeholder="아이디"/><br>
            <input id = "registerName" type="text" placeholder="이름"/><br>
            <input id = "registerPsword" type="password" placeholder="패스워드"/><br>
            <input id = "registerPswordConfirm" type="password" placeholder="패스워드 확인"/><br>

            <input id = "registerBtn" type = "button" value="Signup"></input>
            <input id = "moveLoginBtn" type= "button" value="SignIn"></input>
        </div>
    </div>
    <div id = "mainView" style = "display:none;width:600px; height:400px;background-color:#CF0">
        <div id = "userInfo" style = "width:600px;height:25px;background-color:yellow">
            이름<input id = "name" type="text" value="guest" style="width:50px" readonly></intput>
            경험치<input id = "exp" type="text" value="0" style="width:50px" readonly></intput>
            배틀코인<input id = "battlecoin" type="text" value="0" style="width:50px" readonly></intput>
            다이아몬드<input id = "diamond" type="text" value="0" style="width:50px" readonly></intput>
            골드<input id = "money" type="text" value="0" style="width:50px" readonly></intput> 
    
        </div>
        <div id="mainStore" style = "display:none;">
            <div style = "width:300px; height:400px; float: left; background-color:beige">
                <p> 일일 상점</p>
                <table id = "dailyStoreTradeTable" border="1">
                </table>
            </div>
            <div style = "width:300px; height:400px; float: left; background-color:bisque">
                <p> 일반 상점</p>
                <table id = "normalStoreTradeTable" border="1">
                </table>
            </div>
        </div>
        <div id="mainInven" style = "display:none;">
            <div style = "width:300px; height:400px; float: left; background-color:beige">
                <p> 장착창</p>
                <ul id = "equip">
                </ul>
            </div>
            <div style = "width:300px; height:400px; float: left; background-color:bisque">
                <p> 인벤토리</p>
                <ul id = "inventory">
                </ul><br>
                <input id = "sellItemBtn" type="button" value="팔기"></intput>
            </div>
        </div>
        <div id="mainCombat">
            <div style = "width:100px; height:400px; float: left; background-color:beige">
                <input id = "singlegameBtn" type="button" value="싱글 게임"></intput><br>
            </div>
            <div id = "combatView" style = "width:500px; height:400px; float: left; background-color:bisque">
                <input id = "startGameBtn" type="button" value="게임 시작"></intput>
                <input id = "endGameBtn" type="button" value="게임 종료" disabled ></intput><br>
                <ul id = "singlegameLog" style="width:450px; height:350px; overflow:auto">
                </ul>
            </div>
        </div>            
        <div id="mainQuest" style = "display:none;">            
            <div id = "questView" style = "width:600px; height:400px; float: left; background-color:bisque">
                <input id = "dailyQuestBtn" type="button" value="일일 Quest"></intput>
                <input id = "weeklyQuestBtn" type="button" value="주간 Quest"></intput>
                <input id = "normalQuestBtn" type="button" value="업적 Quest"></intput><br>
                <ul id = "questList">
                </ul>
            </div>
        </div>
        <div id="mainFriend" style = "display:none;">
            <div id = "friendLeftView" style = "width:300px; height:400px; float: left; background-color:beige">
                <input id = "requestFriendBtn" type="button" value="친구 요청"></intput>
                <ul id = "friendList" style = "width:200px; height:350px; overflow:auto">
                </ul>
            </div>
            <div id = "friendRightView" style = "width:300px; height:400px; float: left; background-color:bisque">
                <input id = "friendRequestBtn" type="button" value="보낸 요청"></intput>
                <input id = "friendRequestedBtn" type="button" value="받은 요청"></intput>
                <ul id = "requestList" style = "width:200px; height:350px; overflow:auto">
                </ul>
            </div>
        </div>
        <div id="mainGuild" style = "display:none;">
            <div id = "guildLeftView" style = "width:200px; height:400px; float: left; background-color:beige">
                <input id = "showGuildAllListBtn" type="button" value="전체 길드 리스트"></intput><br>
                <input id = "showGuildInviteListBtn" type="button" value="길드 초청 리스트"></intput><br>
                <input id = "requestGuildMemberBtn" type="button" value="길드 가입 요청"></intput><br>
                <input id = "createGuildBtn" type="button" value="길드 생성"></intput><br><br>

                <!-- 내 길드 정보 -->
                <input id = "showGuildInfoBtn" type="button" value="길드 정보"></intput><br>
                <input id = "deleteGuildBtn" type="button" value="길드 삭제"></intput><br>
                <input id = "showGuildMemberBtn" type="button" value="길드원 리스트"></intput><br>
                <input id = "deportGuildMemberBtn" type="button" value="길드 멤버 추방"></intput><br>
                <input id = "leaveGuildMemberBtn" type="button" value="길드 탈퇴"></intput><br>
                <input id = "inviteGuildMemberBtn" type="button" value="길드 초청"></intput><br>
                <input id = "showGuildRequestListBtn" type="button" value="길드 가입 요청 리스트"></intput><br>
            </div>
            <div id = "guildRightView" style = "width:400px; height:400px; float:right ">
                <div style = "height:200px; background-color:bisque">
                    <ul id = "guildInfoList" style = "height:100%;overflow:auto">
                    </ul>
                </div>
                <div style = "height:50%; background-color:azure">
                    <textarea readonly id = "guildChatText" cols="40" rows="10" style = "width:100%;height:140px;float:left;overflow:auto">
                    </textarea>
                    <input id = "guildChatMsg" type="text" style = "width:80%;"></input>
                    <input id = "sendGuildChatBtn" type="button" value="전송"></input>
                </div>
            </div>
        </div>
        <div id="mainMail" style = "display:none;">
            <div id = "mailTopView" style = "width:600px; height:50px; background-color:bisque">
                <input id = "showMailListBtn" type="button" value="받은 우편"></intput>
                <input id = "writeMailBtn" type="button" value="우편 쓰기"></intput>
            </div>  
            <div id = "mailWriteView" style = "width:600px; height:400px; background-color:beige">
                <div>
                    <label >유저 이름</label>
                    <input type="text" id="mail_receiver_user_name" style = "width:300px;"/><br>
                    <label >제        목</label>
                    <input type="text" id="mail_title" style = "width:300px;"/><br>
                    <label >내        용</label>
                    <input type="text" id="mail_msg" style = "width:300px;height:100px"/><br>
                    <label >보낼 골드</label>
                    <input type="text" id="mail_gold" style = "width:300px;"/><br>
                    <input id = "sendMailBtn" type="button" value="보내기" />
                </div>
            </div>
            <div id = "mailReadView" style = "display:none">
                <div id = "mailLeftView" style = "width:200px; height:400px;  background-color:beige">
                    <ul id = "mailList" style = "width:350px; height:350px; overflow:auto">
                    </ul>
                </div>
                <div id = "mailRightView" style = "width:400px; height:400px; background-color:azure">
                    <div id = "mailContentView">
                        <input id = "deleteMailBtn" type="button" value="메일 삭제"/>
                        <input id = "getAllAttachedItemBtn" type="button" value="첨부된 아이템 가져오기"/><br>

                        <p></p>
                        <input readonly id = "mailTitle" type="text" style = "width:300px;"/><br>
                        <input readonly id = "mailMsg" type="text" style = "width:300px;height:100px"/><br>
                        <input readonly id = "mailGold" type="text" style = "width:300px;"/><br>
                        <ul id = "mailItemList" style = "width:350px; height:350px; overflow:auto">
                        </ul>                    
                    </div>
                    <div id = "mailWriteView" style = "display:none;">
                    </div>
                </div>
            </div>  
        </div>
        <div id = "navBottom" style = "width:600px;height:25px;background-color:cyan">
            <input id = "store" type="button" value="상점"></intput>
            <input id = "inven" type="button" value="장비"></intput>
            <input id = "combat" type="button" value="전투"></intput>
            <input id = "quest" type="button" value="퀘스트"></intput>
            <input id = "friend" type="button" value="친구"></intput>
            <input id = "guild" type = "button" value="길드"></intput>
            <input id = "mail" type = "button" value="우편"></intput>
            <input id = "logout" type="button" value="접속종료"></intput>
        </div>
    </div>
</body>
</html>