<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/home/singlegame.js" defer> </script>
    <title>Document</title>
</head>

<body>
<h1> Message</h1>

<input id = "startgame" type="button"  value="게임 시작">
<input id = "endgame" type="button"  value="게임 종료">
<br>

<a href="/logout">logout</a>
</body>
